@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@import "tailwindcss";

:root {
  --bg-clr: #000000;
  --txt-clr: #FFFFFF;
  --acc-clr: #6C51F5;
  --sec-clr: #020023;

  --pry-ff: 'Mona-Sans', sans-serif;
  --sec-ff: "Manrope", sans-serif;
}

.bg-clr {
  color: var(--bg-clr);
  border: 1px solid var(--bg-clr);
}

.acc-clr {
  color: var(--acc-clr);
  background-color: var(--acc-clr);
  border: 1px solid var(--acc-clr);
  text-shadow:
    0 0 5px var(--acc-clr),
    0 0 10px var(--acc-clr),
    0 0 20px var(--acc-clr),
    0 0 30px var(--acc-clr),
    0 0 40px var(--acc-clr);
}

.txt-clr {
  color: var(--txt-clr);
  border: 1px solid var(--txt-clr);
}
.sec-clr {
  color: var(--sec-clr);
}

.pry-ff {
  font-family: var(--pry-ff);
}

.sec-ff {
  font-family: var(--sec-ff);
}